h1{
/* 
    fon-family es el tipo de letra */
    /* que pasa si una fuente no existe
    en css tenemos la opción de varios tipo de letras */
    /* para que si la primera no existe css busque en la segunda y asi consecutivamente*/
    font-family: appe-system;
font-size: 20px;
/* ! importante: al poner un peso en font-weight no se coloca uniades*/
font-weight: 100;
text-decoration: underline ;
}
.parrafo {

    font-family: monospace;
    font-size: 20px;
  
}

.link{

    font-size: 32px;
    font-family: monospace;
    /* al poner none en una propiedad estamos invalidando*/
    text-decoration: none;
    /*con la propiedad color: sirve para cambiar el color de texto */
    /* Hexadecimal: Es una forma en la cual podemos aplicar un color basado en 6 digitos*/
   

    color: rgb(81, 80, 86);
}

body {
font-family: Arial, Helvetica, sans-serif;

}

ul{
  background-color: rgb(162, 162, 205);  
}

.span-1 {
    text-decoration: line-through;
    text-transform: capitalize;
}
.span-2 {
    text-decoration: overline;
}
.span-3 {
    text-decoration: underline;
}
.span-4 {
    text-decoration: line-through;
    text-decoration-color: red;
}
.span-5 {
    text-decoration: overline;
    background-color: greenyellow;
    text-decoration-color: whitesmoke;
    text-transform: uppercase;
}


/*
lowercase = minuscula todo el texto 
uppercase= mayuscula todo el texto
capitalize = primero del texto en mayuscula 

*/

.span-6 {
    text-decoration: underline;
    background-color: rgb(179, 19, 179);
    text-decoration-color: red;
    color: aliceblue;
/* Estamos indicando que el texto sea en minusculas*/
text-transform: lowercase;
}




